<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Doku Demo Apss Java Library</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Demo Apps for Generate Payment Code</h1>

    </div>
    <hr>

    <div class="row">
        <form id="formConfig" method="post">
            <div class="form-row">
                <div class="col-md-12 text-center">
                    <h2>
                        Setup Configuration
                    </h2>
                </div>
                <div class="col-md-6 form-group">
                    <label>Merchant Name </label>
                    <input id="id" name="id" type="hidden" class="form-control">
                    <input id="merchantName" name="merchantName" type="text" class="form-control">
                </div>
                <div class="col-md-6 form-group">
                    <label>Client Id</label>
                    <input id="clientId" name="clientId" type="text" class="form-control">
                </div>
                <div class="col-md-6 form-group">
                    <label>SharedKey</label>
                    <input id="sharedKey" name="sharedKey" type="text" class="form-control">
                </div>
                <div class="col-md-6 form-group">
                    <label>Server Environment</label>
                    <select id="serverLocation" name="serverLocation" class="form-control">
                        <option value="sandbox" selected="selected">SandBox</option>
                        <option value="production">Production</option>
                    </select>
                </div>
                <button class="btn btn-info">Set Configuration</button>
            </div>
        </form>
    </div>
    <div class="row">
        <form id="formRequestData" method="post">
            <div class="form-row">
                <div class="col-md-12 text-center">
                    <h2>
                        Request Data
                    </h2>
                </div>
                <h4 class="col-md-12">
                    Order
                </h4>
                <div class="col-md-6 form-group">
                    <label>Invoice Number</label>
                    <input value="MCH-001" name="invoiceNumber" type="text" class="form-control">
                </div>
                <div class="col-md-6 form-group">
                    <label>Amount</label>
                    <input value="100000" name="amount" type="number" class="form-control">
                </div>

                <h4 class="col-md-12">
                    Virtual Account Info
                </h4>

                <div class="col-md-6 form-group">
                    <label>Expired Time</label>
                    <input value="60" name="expiredTime" type="number" class="form-control">
                </div>

                <div class="col-md-6 form-group">
                    <label>Reusable Status</label>
                    <select name="reusableStatus" class="form-control">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>

                <div class="col-md-6 form-group">
                    <label>Info 1</label>
                    <textarea name="info1" class="form-control">info 1</textarea>
                </div>

                <div class="col-md-6 form-group">
                    <label>Info 2</label>
                    <textarea name="info2" class="form-control">info 2</textarea>
                </div>

                <div class="col-md-6 form-group">
                    <label>Info 3</label>
                    <textarea name="info3" class="form-control">info 3</textarea>
                </div>

                <h4 class="col-md-12">
                    Customer
                </h4>

                <div class="col-md-6 form-group">
                    <label>Name</label>
                    <input name="customerName" type="name" class="form-control">
                </div>

                <div class="col-md-6 form-group">
                    <label>Email</label>
                    <input name="email" type="email" class="form-control">
                </div>

                <h4 class="col-md-12">
                    Payment Channel
                </h4>

                <div class="col-md-6 form-group">
                    <label>Payment Channel</label>
                    <select name="channel" class="form-control">
                        <option value="mandiri">Mandiri VA</option>
                        <option value="mandiri-syariah">Mandiri Syariah VA</option>
                    </select>
                </div>
                <div class="col-md-12 form-group">
                    <button class="btn btn-info">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


<script>

    var dataConfiguration = null;
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/setup",
            contentType: "application/json",
            success: function (result) {
                dataConfiguration = result;
                $('#merchantName').val(dataConfiguration.merchantName)
                $('#clientId').val(dataConfiguration.clientId)
                $('#sharedKey').val(dataConfiguration.sharedKey)
                if (null != dataConfiguration.serverLocation) {
                    $('#serverLocation').val(dataConfiguration.serverLocation)
                }
                if (null != dataConfiguration.id) {
                    $('#id').val(dataConfiguration.id)
                }
            }
        });
    });

    $("#formConfig").submit(function (e) {

        var unindexed_array = $('#formConfig').serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });

        $.ajax({
            type: "POST",
            dataType: "JSON",
            data: JSON.stringify(indexed_array),
            url: "/setup",
            contentType: "application/json",
            success: function () {
                location.reload();
            }
        });
        e.preventDefault();
        return false;
    });


    $("#formRequestData").submit(function (e) {
        var unindexed_array = $('#formRequestData').serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });

        $.ajax({
            type: "POST",
            dataType: "JSON",
            data: JSON.stringify(indexed_array),
            url: "/",
            contentType: "application/json",
            success: function (result) {
                location.href="/transaction?paymentCode="+result.virtualAccountNumber
            }
        });
        e.preventDefault();
        return false;
    });
</script>

</body>
</html>